<div class="store">
  <h3>Your Bakery</h3>
  <%= render_bakery_nav %>
  <br>
  <div class="store-inventory">
    Cookies for sale:
    <ul>
      <%= render_cookies_for_sale %>
    </ul>
  </div>
</div>
