<h3><%= @oven.name %></h3>

<% if @oven.cookies.empty? %>
  <%= link_to "Prepare Cookies", new_oven_cookie_path(@oven), data: { turbo_frame: dom_id(Cookie.new) }, class: 'button' %>
<% else %>
  <%= link_to "Prepare Cookies", new_oven_cookie_path(@oven), class: 'button' %>
<% end %>

<%= turbo_frame_tag dom_id(@oven, "cookie_info") do %>
  <% render "cookie_info", oven: @oven %>
<% end %>

