<div class="px-8 bg-gradient-to-b from-blue-500 to-blue-700 text-white-400 py-2">
  <ul>
    <%= render_cookies_for_sale %>
  </ul>
  <p class="font-bold text-green-400">Total: <%= Cookie.count %> $</p>
</div>
