<div class="px-8 bg-gradient-to-b from-blue-500 to-blue-700 text-white py-2">
   <p class="text-lg font-semibold">Cookies for sale:</p>
      <ul class="mt-2 space-y-2">
        <%= render_cookies_for_sale %>
      </ul>
    </div>
 

